body {
  margin: 0;
  min-width: 250px;
  font-size: 16px;
   font-family: 'Bree Serif', serif;
}
.line {
  color: #000000;
   text-decoration: line-through;
   background-color:#E91E63;
}

* {box-sizing: border-box;}

.Header-todo-list {
  background-color: #8BC34A;
    padding: 30px 40px;
    color: #333333;
    text-align: center;
}
.Header-todo-list:after {
    content: "";
    display: table;
    clear: both;
}
.todo-list__title {
  text-align: center;
  width: 100%;
  font-weight: 400;
}
input[type="text"] {
     margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
input[type="checkbox"] {

    width: 48px;
    border: none;
    border-radius: 0;
    float: left;
    font-size: 16px;
     height: 17px;
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    
}



.todo-list__button {
  padding: 10px;
  width: 20%;
  background: #333333;
  color: #fff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #333333;
  color: #fff;
  font-size: 16px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
@media only screen and (min-width: 700px) {

    .todo-list {
      width:700px;
      margin-left: auto;
      margin-right: auto;
    }
}

